ul.nav li{
	background-color: black;
	padding: 0px 30px 0px 30px;
	color: white;
	font-size: 20px;
	display: table-cell;
}
ul.nav {
	display: table;
	width: 100%;
	text-align: justify;
}
a {
	background-color: black;
	color: white;
	padding: 0px;
}
h1 { 
	color: black;
	text-align: center;
	padding-bottom: 30px;
	font-size: 50px;
	font-family: Courier, monospace;
}
#page_intro h2 {
	color: black;
	text-align: center;
	font-size: 20px;
	font-style: bold;
	font-family: Courier New, monospace;
}
#page_intro {
	padding: 50px 0px 50px 0px;
	background-image: url('http://static.businessinsider.com/image/536d34a4ecad046b153e69bc/image.jpg');
	background-image: url('http://cdn.theculturetrip.com/wp-content/uploads/2016/02/restaurant-939435_960_720.jpg');
	background-image: url('https://www.soelden.com/urlaub/images/SD/WI/headerbilder/aktivitaeten_header_restaurant,method=scale,prop=data,id=1200-510.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#navigation_buttons {
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: Courier New, monospace;
}

.food_group {
	padding: 50px;
	border-style: solid;
	font-family: Courier New, monospace;
}
.food_group h2 {
	color: black;
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
	font-family: Courier New, monospace;
}
